<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="LogonLabs.Client.Winforms.Example.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <userSettings>
        <LogonLabs.Client.Winforms.Example.Properties.Settings>
            <setting name="AppId" serializeAs="String">
                <value>1895ffe59e9c4d8082fe431ab41df12f</value>
            </setting>
            <setting name="ApiUrl" serializeAs="String">
                <value>https://api.logon-dev.com/</value>
            </setting>
        </LogonLabs.Client.Winforms.Example.Properties.Settings>
    </userSettings>
</configuration>