<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="cef.redist.x64" version="75.1.14" targetFramework="net472" />
  <package id="cef.redist.x86" version="75.1.14" targetFramework="net472" />
  <package id="CefSharp.Common" version="75.1.143" targetFramework="net472" />
  <package id="CefSharp.WinForms" version="75.1.143" targetFramework="net472" />
  <package id="LogonLabs.Client" version="1.5.0.88" targetFramework="net472" />
  <package id="Newtonsoft.Json" version="12.0.3" targetFramework="net472" />
  <package id="ServiceStack" version="5.4.0" targetFramework="net472" />
  <package id="ServiceStack.Client" version="5.4.0" targetFramework="net472" />
  <package id="ServiceStack.Common" version="5.4.0" targetFramework="net472" />
  <package id="ServiceStack.HttpClient" version="5.4.0" targetFramework="net472" />
  <package id="ServiceStack.Interfaces" version="5.4.0" targetFramework="net472" />
  <package id="ServiceStack.Text" version="5.4.0" targetFramework="net472" />
  <package id="System.Buffers" version="4.4.0" targetFramework="net472" />
  <package id="System.Memory" version="4.5.1" targetFramework="net472" />
  <package id="System.Numerics.Vectors" version="4.4.0" targetFramework="net472" />
  <package id="System.Runtime.CompilerServices.Unsafe" version="4.5.0" targetFramework="net472" />
  <package id="System.ValueTuple" version="4.5.0" targetFramework="net472" />
</packages>